# Dependencies
node_modules/
examples/node_modules/

# Build outputs
dist/
examples/*.js
examples/*.js.map

# Environment variables
.env

# Generated images
examples/images/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS specific
.DS_Store
Thumbs.db